<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Rol</title>
    <link rel="stylesheet" href="../public/styles/rol.css">
</head>
<body onload="loadCreateRol()">
    <header>
        <h1>ConstruCode</h1>
        <nav aria-label="Main navigation">
            <ul>
                <li class="dropdown" aria-haspopup="true">
                    <a href="#">Tecnicos</a>
                    <ul class="tecnicos-content">
                        <li><a href="../tecnicos/tecnicos.html">Tecnicos</a></li>
                        <li><a href="../categoriaTecnicos/categoriaT.html">Categoria de Tecnicos</a></li>
                    </ul>
                </li>
                <li class="dropdown" aria-haspopup="true">
                    <a href="#">Orden de Servicio</a>
                    <ul class="ordenes-content">
                        <li><a href="../ordenServicio/createOrder.html">Orden de Servicio</a></li>
                        <li><a href="../cliente/cliente.html">Clientes</a></li>
                    </ul>
                </li>
                <li class="dropdown" aria-haspopup="true">
                    <a href="#">Servicios</a>
                    <ul class="servicios-content">
                        <li><a href="../servicios/servicios.html">Servicios</a></li>
                        <li><a href="../cateogira_servicios/categoriaS.html">Categoria de Servicios</a></li>
                    </ul>
                </li>
                <li><a href="../usuarios/usuarios.html">Usuarios</a></li>
                <li class="dropdown" aria-haspopup="true">
                    <a href="#">Configuración</a>
                    <ul class="configuracion-content">
                        <li><a href="../roles/roles.html">Roles</a></li>
                        <li><a href="../permisos/permisos.html">Permisos</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    
    <h1>Crear Rol</h1>
    <form onsubmit="createRol(); return false;">
        <label>ID Rol: <input type="text"></label><br>
        <label>Nombre: <input type="text"></label><br>
        <label>Descripción: <input type="text"></label><br>
        <label>Estado: <input type="checkbox"></label><br>
        <label for="permisosAsignados">Permisos (ObjectId separados por comas):</label>
        <input type="text" id="permisosAsignados" name="permisosAsignados">
        <button type="button" onclick="createRol()">Crear Rol</button>
    </form>
    <a id="regresar" href="listRol.html">Regresar</a>
    <script src="../public/js/functionsRoles.js"></script>

    <footer>
    <p>ConstruCode - Roles</p>
    </footer>
</body>
</html>
